<ion-app>
  <ion-split-pane  contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-menu-button (click)="play()" ></ion-menu-button>
      <ion-content>

        <ion-list class="tema" id="inbox-list">

          <ion-list-header>Menu</ion-list-header>
          <ion-note>Desenvolvido por<br>Reinan Santos</ion-note>
        </ion-list>
        <ion-list class="tema" id="inbox-list">
          <a  (click)="play()" (click)="fecharMenu()" routerLink="/">Home</a>
        </ion-list>
        <ion-list class="tema" id="inbox-list">
          <a (click)="play()" (click)="fecharMenu()" routerLink="/ranking">Ranking</a>
        </ion-list>
        <ion-list class="tema" id="inbox-list">
          <a  (click)="play()" (click)="fecharMenu()" routerLink="/contato">Contato</a>
        </ion-list>
        <div class="musica">
          <p>TOQUE UM SOM LOFI</p>
          <ion-button  (click)="play()" (click)="toggleAudio()" size="small" color="light">
            {{ audioPaused ? 'Play' : 'Pause' }}
          </ion-button>
          <audio #audioPlayer>
            <source src="/assets/lofi.mp3" type="audio/mpeg">
            Seu navegador não suporta a tag de áudio.
          </audio>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
