<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="tema">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="tema">Desafios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafios</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!finalizado" id="container" class="tema">
    <h1>{{ gerarTitulo() }}</h1>
    <div class="timer">
      <ion-icon name="alarm-outline"></ion-icon>
      <p style="color: white">
        <strong>{{ tempo }}</strong>
      </p>
      <p *ngIf="statusConexao === 'aguardando'" color="light">
        <img src="./assets/spinner.gif" />
      </p>
      <ion-button
        *ngIf="(statusConexao === 'sucesso') && (desabilitar === false)"
        color="light"
        (click)="iniciar()"
        [disabled]="desabilitar"
        >Iniciar</ion-button
      >
      <ion-button
      *ngIf="(statusConexao === 'sucesso') && (desabilitar === true)"
      class="dourado-button"
      (click)="this.processaDica(desafio.respostaCerta)"
      [disabled]="!habilitarBotao"
      >Dica {{posicaoDica}}/2<img src="./assets/iconvideo.png" style="width:30px;height:30px;" /></ion-button>
      <ion-button
      *ngIf="(statusConexao === 'sucesso') && (desabilitar === true)"
      color="danger"
      (click)="finalizar()"
      [disabled]="!desabilitar"
      >SAIR</ion-button
    >
      <ion-button
        *ngIf="statusConexao === 'falha'"
        color="light"
        [disabled]="true"
        >Iniciar</ion-button
      >
      <!--<p *ngIf="desabilitar === true" style="margin-top: 10px; margin-left:5px;">{{acertos + 1}} de {{restam}}</p>-->
      <p *ngIf="desabilitar === false" style="color:rgb(245, 241, 241);margin-top: 10px; margin-left:5px;">Leia as instruções e clique em iniciar.</p>
    </div>
    <div class="caixaDesafio">
      <ion-textarea class="textoPergunta">
        <p *ngIf="statusConexao === 'aguardando'">Aguardando conexão...</p>
        <p *ngIf="statusConexao === 'sucesso'">{{ desafio.pergunta }}</p>
        <p style="color: #3f7041;" *ngIf="statusConexao === 'sucesso' && isRewarded">Dica: A alternativa {{this.exibirDica| uppercase}} está errada.</p>
        <p *ngIf="statusConexao === 'falha'" style="color: red">
          Não foi possível se conectar ao servidor ou não há conexão com a
          internet.
        </p>
      </ion-textarea>

      <ion-textarea class="caixaRespostas">
        <ion-list>
          <ion-radio-group #respostaGroup value="a">
            <ion-item>
              <p>(A) {{ desafio.respostaA }}</p>
              <ion-radio (click)="efeitoclick()" slot="start" value="a"></ion-radio>
            </ion-item>

            <ion-item>
              <p>(B) {{ desafio.respostaB }}</p>
              <ion-radio (click)="efeitoclick()" slot="start" value="b"></ion-radio>
            </ion-item>

            <ion-item>
              <p>(C) {{ desafio.respostaC }}</p>
              <ion-radio (click)="efeitoclick()" slot="start" value="c"></ion-radio>
            </ion-item>

            <ion-item>
              <p>(D) {{ desafio.respostaD }}</p>
              <ion-radio (click)="efeitoclick()" slot="start" value="d"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-textarea>
      <div class="enviar">
        <ion-button
          color="light"
          [disabled]="!desabilitar"
          (click)="conferirResposta(respostaGroup.value)"
          >Enviar</ion-button>
      </div>
    </div>
  </div>
  <div *ngIf="finalizado" class="finalizacao">
      <h1>{{ gerarTitulo() }}</h1>
    <div class="textos">
      <div>
      <p>Quantidade de acertos: {{ acertos }}</p>
      <p>Pontuação: {{ pontos | number:'1.2-2' }}</p>
      <p>Entrar no Ranking ?</p>
    </div>
    <label style="font-size: small;">INSIRA SEU NOME:</label>
    <ion-input class="comentario" [(ngModel)]="nome" type="text" maxlength="15"></ion-input>
    <div *ngIf="!nomeValido">
      <div style="color: red; font-size:small;">*O nome deve ter entre 3 e 15 caracteres.</div>
    </div>
    <div class="botoes">
      <ion-button (click)="enviar(nome.toString())">Enviar</ion-button>
      <ion-button (click)="sair()">Sair</ion-button>
    </div>
    <ion-button (click)="jogarNovamente()">Jogar novamente</ion-button>
    </div>

    <div>
      <h1>CONFIRA A RESPOSTA</h1>

     <div class="conferirResposta">
      <ion-textarea *ngIf="statusConexao === 'sucesso'" class="conferirResposta">
        <p>{{ desafio.pergunta }}</p>
        <p>(A) {{ desafio.respostaA }}</p>
        <p>(B) {{ desafio.respostaB }}</p>
        <p>(C) {{ desafio.respostaC }}</p>
        <p>(D) {{ desafio.respostaD }}</p>
        <p style="font-weight: bolder;">RESPOSTA CORRETA: {{ desafio.respostaCerta | uppercase }}</p>
      </ion-textarea>
      <label style="font-size: small;">ESCREVA AQUI UM COMENTÁRIO SOBRE O DESAFIO:</label>
      <ion-input class="comentario" [(ngModel)]="comentario" type="text"></ion-input>
      <ion-button
      (click)="enviarParaRevisao(comentario.toString())"
      color="light"
      >ENVIAR PARA REVISÃO</ion-button>
      <p>Caso não concorde ou perceba alguma falha na
        resposta indicada como correta, pedimos que envie o desafio para
        revisão e acompanhe o retorno através do menu <a style="text-decoration: none;" routerLink="/contato">CONTATO</a></p>
     </div>
    </div>

  </div>
  <div *ngIf="zerou">
  <p style="color:red; text-align: center;">PARABÉNS!🎉🥳🥳🎉</p>
  <p style="color:red; text-align: center;">Voce finalizou todas as questões desta categoria,Tente novos desafios e aguarde novas atualizações.</p>
  <P style="text-align: center; font-size: xx-large;">🤓</P>
</div>
</ion-content>
