<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="tema">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="tema">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true">
  <div class="container">
    <h1 style="color: rgb(255, 255, 255); font-family: monospace;">R  A  C  I  O  C  I  N  E </h1>
    <div class="img-home"></div>
    <p class="texto-desenvolvedor">Desenvolvedor Reinan Santos</p>
    <h5>Sobre App:</h5>
    <p class="texto-rodape">
      Teste, otimize seu raciocínio e esteja preparado para provas de seleção.
      As questões são sorteadas toda vez que um novo teste é iniciado, você
      pode realizar varias vezes, respondendo desafios novos e anteriores.
    </p>
    <h5 *ngIf="statusConexao === 'sucesso'">Escolha a modalidade e inicie o teste</h5>
    <p *ngIf="statusConexao === 'aguardando'" color="light">
      <img src="./assets/spinner.gif" />
    </p>
    <p *ngIf="statusConexao === 'falha'" style="color: red">
      Não foi possível se conectar ao servidor ou não há conexão com a
      internet.
    </p>
    <div *ngFor="let modalidade of modalidades" class="modalidades">
    <ion-button style="width: 80%;" color="light" (click)="carregar(modalidade)" (click)="play()">{{modalidade | uppercase}}</ion-button>
  </div>
    <ion-footer>
    </ion-footer>
  </div>
</ion-content>


