.tema {
  background-color: #3f7041;
  color: #ffffff;
}

ion-menu-button {
  color: #ffffff;

}


h5 {
  color: #ffffff;
  background-color: #3f7041;
}

.container {
  max-height: calc(100vh - 250px);/* Defina uma altura máxima para a div (ajuste conforme necessário) */
  background-color: #3f7041;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 50px;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.texto-desenvolvedor{
  font-size: 10px;

}

.texto-rodape{
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

#container a {
  text-decoration: none;
}


.img-home {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: url('/assets/cabeca-pensante-home.jpg');
}

.modalidades {
  background-color: #3f7041;
  max-height: calc(100vh - 250px); /* Defina uma altura máxima para a div (ajuste conforme necessário) */
  overflow-y: auto; /* Adicione uma barra de rolagem vertical quando necessário */
}
