<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="tema">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="tema">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <h5>Escolha a modalidade e inicie o teste</h5>
    <ion-button color="light" (click)="carregarLogicaMatematica()">Lógica matemática</ion-button>
    <ion-button color="light" (click)="carregarRaciocinioLogico()">Raciocínio Lógico</ion-button>
    <div class="img-home"></div>
    <ion-footer>
      <p class="texto-desenvolvedor">Desenvolvedor Reinan Santos</p>
      <h5>Sobre App:</h5>
      <p class="texto-rodape">
        Teste, otimize seu raciocínio e esteja preparado para provas de seleção.
        As questões são sorteadas toda vez que um novo teste é iniciado, você
        pode realizar varias vezes, respondendo desafios novos e anteriores.
      </p>
    </ion-footer>
  </div>
</ion-content>


