<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="tema">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="tema">Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="statusConexao === 'sucesso'" class="container">

    <div class="ranking-titulo">
      <ion-item>
        <ion-label position="stacked" color="secondary">SELECIONE UMA CATEGORIA :</ion-label>
        <ion-select (click)="this.play()"  color="secondary"  [(ngModel)]="categoriaEscolhida" (ionChange)="atualizarRankingCategoria()">
          <ion-select-option *ngFor="let categoria of listaDeCategoria" value="{{categoria}}">{{categoria | uppercase}}</ion-select-option>
        </ion-select>
      </ion-item>
      <table>
        <thead>
          <tr>
            <th class="pos">Posição</th>
            <th class="nome">Nome</th>
            <th class="pontos">Pontos</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="ranking">
      <table *ngFor="let pontuacaoPessoal of rakingDaCategoria">
        <tr>
          <td *ngIf="pontuacaoPessoal.posicao === 1" class="pos"><div class="primeiro"></div></td>
          <td *ngIf="pontuacaoPessoal.posicao === 2" class="pos"><div class="segundo"></div></td>
          <td *ngIf="pontuacaoPessoal.posicao === 3" class="pos"><div class="terceiro"></div></td>
          <td *ngIf="pontuacaoPessoal.posicao > 3" class="pos">{{ pontuacaoPessoal.posicao}}º</td>
          <td class="nome">{{ pontuacaoPessoal.nome.trim()}}</td>
          <td class="pontos">{{ pontuacaoPessoal.pontos | number:'1.2-2' }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="statusConexao === 'aguardando'" class="container">
    <img src="./assets/spinner.gif" />
    <p>Aguardando conexão...</p>
  </div>
  <div *ngIf="statusConexao === 'falha'" class="container">
    <p style="color: red">
      Não foi possível se conectar ao servidor ou não há conexão com a internet.
    </p>
  </div>
</ion-content>
